<%= form_for(risk_rule) do |f| %>

    <p>
      <%= f.label 'Identificador' %>
      <%= f.text_field :name, disabled: true %>
      <% if risk_rule.errors[:name].length %>
          <span class="risk_rule-error"><%= risk_rule.errors[:name].join(', ') %></span>
      <% end %>
    </p>

    <p>
      <%= f.label 'Regla' %>
      <%= f.text_field :description, disabled: true %>
      <% if risk_rule.errors[:description].length %>
          <span class="risk_rule-error"><%= risk_rule.errors[:description].join(', ') %></span>
      <% end %>
    </p>

    <p>
      <%= f.label 'Acciones recomendadas' %>
      <%= f.text_area :suggested_actions, rows: "7",disabled: true %>
      <% if risk_rule.errors[:suggested_actions].length %>
          <span class="risk_rule-error"><%= risk_rule.errors[:suggested_actions].join(', ') %></span>
      <% end %>
    </p>

    <p>
      <%= f.label 'Estado' %>
      <%= f.check_box :status %> <br />
      <% if risk_rule.errors[:status].length %>
          <span class="risk_rule-error"><%= risk_rule.errors[:status].join(', ') %></span>
      <% end %>
    </p>

    <p>
    <%= f.label 'Notificaciones' %>
    <%= f.check_box :notifications %> <br />
    <% if risk_rule.errors[:notifications].length %>
        <span class="risk_rule-error"><%= risk_rule.errors[:notifications].join(', ') %></span>
    <% end %>
  </p>


  <% @risk_rule_parameters.each do |parameter| %>
    <p>
      <%= f.label parameter.name %>
      <%= f.text_field :name %> <br />      
    </p>
  <% end %>

  

  
    <div class="widget-box--blocks--buttons">
        <button type="submit" class="button -alt-highlight" title="Guardar">
            <span class="button--text">Guardar</span>
        </button>
    </div>

<% end %>

