
<%= form_tag({}) do -%>

<div class="generic-table--container">
  <div class="generic-table--results-container">
    <table class="generic-table" id="material_budget_items">
      <colgroup>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
      </colgroup>
      <thead>
        <tr>
          <%= sort_header_tag("name", :caption => "Nombre del Riesgo") %>
          <th class="currency">
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
              <span>
                <%= 'Actividad Relacionada'%>
              </span>
            </div>
          </div>
        </th> 
          <%= sort_header_tag("incharge_id", :caption => "Encargado") %>
          <%= sort_header_tag("impact", :caption => "Impacto") %>
          <%= sort_header_tag("probability", :caption => "Probabilidad") %>
          <%= sort_header_tag("action_plan_name", :caption => "Plan de acción") %>
          <%= sort_header_tag("status", :caption => "Estado") %>
          <%= sort_header_tag("automatic", :caption => "Creado por") %>
         
          <%= sort_header_tag("created_at", :caption => "Creado en") %>  
          <th class="currency">
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= 'Editar'%>
                </span>
              </div>
            </div>
          </th> 
          <th class="currency">
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= 'Eliminar'%>
                </span>
              </div>
            </div>
          </th>   
          
        </tr>
      </thead>
      <tbody>
        <% risks.each do |risk| %>
        <tr id="risk-<%= risk.id %>" >        
          <td><%= risk.name %></td>
          <td><%= risk.subject%></td>
          <td><%= risk.incharge_name%></td>
          <td><%= risk.impact %></td>
          <td><%= risk.probability %></td>
          <td><%= risk.action_plan_name %></td>
          <td>
            <% if risk.status %>
              <%= 'Activo' %>
            <% else %>
              <%= 'Resuelto' %>
            <% end %>
          </td>
          <td>
            <% if risk.automatic %>
              <%= 'Open Project' %>
            <% else %>
              <%= 'OpenProject Admin' %>
            <% end %>
          </td>
          

          <td><%= risk.created_at.to_formatted_s(:short)    %></td>
          <td>
            <%= link_to({controller: '/risks', action: 'edit', id: risk}) do %>
              <%= op_icon('button--icon icon-edit') %> 
            <% end %>
          </td>
          <td>
          <% if !risk.automatic %>
          <%= link_to({controller: '/risks', action: 'destroy', id: risk},
                      class: '',
                      method: :delete,
                      data: { confirm: t(:delete_risk_message)}) do %>
            <%= op_icon('button--icon icon-delete') %> 
            
          <% end %>
          <% end %> 
        
        </td>
        </tr>
        <% end %>
        
      </tbody>
    </table>

  </div>
</div>

<% end -%>
