<% html_title t(:label_risks) -%>

<% any_risks= @risks.any? %>

<%= toolbar title: t(:label_risks) do %>

  <li class="toolbar-item">
  <%= link_to risk_rules_path(),
      { class: 'button',
        id: 'new_news_link',
        aria: {label: t(:label_risk_rules)},
        title: t(:label_risk_rules)} do %>
    <span class="button--text"><%= t(:label_risk_rules) %></span>
  <% end %>
</li>

  <li class="toolbar-item">
    <%= link_to new_risk_path(),
        { class: 'button -alt-highlight',
          id: 'new_news_link',
          aria: {label: t(:button_add_risk)},
          title: t(:button_add_risk)} do %>
      <%= op_icon('button--icon icon-add') %>
      <span class="button--text"><%= t(:button_add_risk) %></span>
    <% end %>
  </li>


  <% if any_risks %>
    <li class="toolbar-item">
      <button id="filter-member-button"
              focus
              title="<%= I18n.t(:description_filter) %>"
              class="toggle-member-filter-link button">
        <%= op_icon('button--icon icon-filter') %>
      </button>
    </li>
  <% end %>
<% end %>



<%= error_messages_for 'risk' %>



<div>
  <% if any_risks %>
  <% @risks.each do |risk| %>


    <li class="toolbar-item">
    <%= link_to risks_path(),
        { class: 'button',
          id: 'new_news_link',
          aria: {label: t(risk.name)},
          title: t(risk.name)} do %>
      <span class="button--text"><%= t(risk.name) %></span>
    <% end %>:<%= risk.description%></li>
 
  <% end %>
  <% elsif @is_filtered %>
    <%= no_results_box custom_title: t(:notice_no_principals_found) %>
  <% else %>
    <%= no_results_box %>
  <% end %>
</div>


