<% html_title t(:label_risks) -%>

<% any_risks= @risks.any? %>

<%= toolbar title: t(:label_risks) do %>

  <li class="toolbar-item">
  <%= link_to project_rules_path(),
      { class: 'button',
        id: 'new_news_link',
        aria: {label: t(:label_risk_rules)},
        title: t(:label_risk_rules)} do %>
    <span class="button--text"><%= t(:label_risk_rules) %></span>
  <% end %>
</li>

  <li class="toolbar-item">
    <%= link_to new_risk_path(),
        { class: 'button -alt-highlight',
          id: 'new_news_link',
          aria: {label: t(:button_add_risk)},
          title: t(:button_add_risk)} do %>
      <%= op_icon('button--icon icon-add') %>
      <span class="button--text"><%= t(:button_add_risk) %></span>
    <% end %>
  </li>

<% end %>



<%= error_messages_for 'risk' %>

<% if @risks.empty? %>
  <%= no_results_box %>
<% else %>
<%= render :partial => 'list', :locals => {:risks => @risks} %>
<%= pagination_links_full @risks %>
<% end %>
